/* Utilizando fontes especificas */
@font-face{
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root{
    --roxo-gamifica: #47208b;
    --laranja-gamifica: #f06638;
}

/* Reset de CSS - Limpa configurações padrão que atrapalham */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container-grid{
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto; 
    /*margin: 30px - Espaçamento de 30px em torno do elemento*/ 
    /*margin: 0px 30px - Espaçamento 0px vertical e 30px horizontal*/
    /*margin: 0px 30px 10px - Espaçamento 0px para cima, 30px horizontal e 10 para baixo*/
    /*margin: 0px 30px 10px 20px - Espaçamento 0px para cima, 30px para direita, 10px para baixo, 20px para esquerda*/
}

.banner{
    /* vh - Porcentagem da ALTURA da viewport (janela) */
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(53, 24, 104, 1)0%, rgba(53, 24, 104, 0.8) 100%), url(img/bg-room.png);
    /*primeiro '90deg' é a angulação, */

    background-repeat: no-repeat;
    background-position: 165% 40%;
}

header{
    height: 165px;

}

header div.container-grid{
    height: 100%; /*Porcentagem - Unidade relativa ao elemento pai*/
    
    display: flex;
    /*ele é que flexiciona toda caixa do header como exemplo, alinhando eles em linha*/
    justify-content: space-between;
    /*ele é que vai justificar os atributos, mandando eles para o começo/meio/fim da pagina*/
    align-items: center;
    /*controlando o tamanho aonde os itens deve ficar*/
}

header img{ /*ex. header com um texto a frente, significa que estou puxando header e oq tem dentro dele*/
    width: 290px;
}

.menu{
    width: 700px;
    
    display: flex;
    justify-content: space-between;

}

.menu a{
    color: white; /*coloca só color para mudar cor de letras*/
    font-size: 20px; /*para colocar tamanho de fonte*/
    font-family: 'Anta';
    
    text-decoration: underline transparent;
    text-decoration-thickness: 2px; /*ele é "stroke do figma"*/

    transition: text-decoration 500ms ease; /*transição de deixar lento quando passa lento por cima*/
}

.menu a:hover { /*esse hover da cor quando você passa mouse por cima*/
    text-decoration-color: white;
}


.conteudo-banner{
    /* Altura deve ser 100vh - altura do header*/
    /* Coloquei 280px por opção */
    height: calc(100vh - 280px);

    display: flex;
    align-items: center;
}

.conteudo-banner p{
    color: white;
    
    font-family: "Anta"; /*É onde escolhemos a fonte*/
    font-size: 32px; /*para colocar tamanho de fonte*/
}

.conteudo-banner span{
    display: block;

    overflow: hidden;

    border-right: 6px solid var(--laranja-gamifica);
    white-space: nowrap;

    animation: 
        digitando 2s steps(40, end),
        cursor 0.75s step-end infinite
    ;
}

@keyframes digitando{
    from
    {
        width: 0
    }

    to{
        width: 100%
    }
}

@keyframes cursor{
    from,
    to{
    border-color: transparent;
    }
    
    50%{
        border-color: var(--laranja-gamifica);
    }
    
    
}

#sobre {
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    padding: 100px 25%;
}

h2{
    font-family: "Anta"; /*É onde escolhemos a fonte*/
    font-size: 28px; /*para colocar tamanho de fonte*/
}

#sobre p{
    font-family: 'Montserrat';
    font-size: 17px; /*para colocar tamanho de fonte*/

    text-align: left;
    

}

#cases{
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2{
    margin-bottom: 70px;
}

.container-cards{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.card{
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;  /* Oq deixa tudo em coluna*/
    justify-content: space-between; /*Oq vai dar o espaçamento*/
    align-items: center;

    background-color: var(--roxo-gamifica);

    padding: 20px; /*Espaçamento por dentro do conteúdo*/
    margin-bottom: 20px;

    border-radius: 4px;


    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5); /* aplicativo do box shadow generation*/


}

.card img{
    height: 55%;
    width: 100%;

    border-radius: 4px 4px 0 0; /*é oq da borda na ponta da imagem igual do figma*/  
}

.card p{
    text-align: left; /*Para alinhar o texto para esquerda*/

    font-family: 'Montserrat';
    font-size: 16px; /*para colocar tamanho de fonte*/

    padding: 7%;

    color: white;
}

.card button{

    width: 90%;
    height: 40px;
    background-color: var(--laranja-gamifica);
    
    border: none;
    border-radius: 4px;
    
    color: white;
    
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 500ms;
}

.card button:hover{
    background-color: #ad4929;
}

#portfolio{
    height: 250px;
    
    margin-bottom: 120px;

    background-image: url(img/bonecos.png); /*para colocar a imagem de fundo*/
    background-size: auto; /*para mudar o tamanho da imagem*/

    background-repeat: repeat; /*de repetição de imagem*/

    background-attachment: fixed; /*para fixar a imagem*/

    position: relative; /*position relative vai smp no container pai*/
}


.filtro{
    height: 100%;
    width: 100%;

    background-color: #47208bc2;

    position: absolute; /* position absolute vai no item que vc quer mexer */
    top: 0;
}

#portfolio .container-grid{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

#portfolio a{
    width: fit-content; /*ajusta o link da caixa ao conteudo*/

    font-family: 'Anta';
    font-size: 28px;

    color: white;

    z-index: 1; /*pra posicionar para ir para frente*/
}

#portfolio a:hover{
    transform: scale(1.05); /*para dar um pequeno zoom, na letra*/
}

#contato{
    text-align: center; /*Para centralizar todos os textos*/

    padding-bottom: 100px;
    margin-bottom: 100px;
}

#contato h2{
    margin-top: 70px;
}

#contato form{ /*que é o quadradão roxo*/
    width: 50%;

    margin: 0 auto; /*que centraliza o quadrado roxo*/
    padding: 60px 0;

    border-radius: 80px;

    display: flex;
    flex-direction: column; /*para ficar os items em coluna, que no caso é um de baixo do outro*/
    align-items: center;

    background-color: var(--roxo-gamifica);

    color: white;
    font-family: "Montserrat";
}

#contato form label{
    margin-bottom: 15px;
    font-size: 17px;
}

.campo {
    width: 60%;

    margin-bottom: 50px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input{
    height: 40px;

    color: white;
    background-color: #351868;  
    border: none;
    border-radius: 4px;

    outline: none; /*ele que dar cor quando vc clica com o mouse no botao*/

    text-indent: 10px;

    font-family: "Montserrat";
    font-size: 17px;
}

.campo-textarea{
    width: 60%;
    margin-bottom: 30px;
    
    text-align: left;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.campo-textarea textarea{
    color: white;
    background-color: #351868;
    
    border: none;
    border-radius: 4px ;

    padding: 10px;

    font-family: "Montserrat";
    font-size: 17px;

    outline: none;

    resize: none;
}

.campo input:focus, .campo-textarea textarea:focus{ /*para dar cor por seleciona o campo*/
    outline: 2px solid var(--laranja-gamifica);

}


#contato form button{
    height: 40px;
    width: 60%;

    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 600;

    color: white;
    background-color: var(--laranja-gamifica);

    border: none;
    border-radius: 4px;

    cursor: pointer;

    text-transform: uppercase; /*para deixar o texto em caixa alta*/

    transition: background-color 500ms ease; /*é q deixa lento a troca de cor quando passa o curso do mouse*/
}

#contato form button:hover{ /* Hover é quando vc passa o mouse por cima de um elemento no site, e ele muda de cor */
    background-color: #ad4929;
}

/* Placeholder */
#contato form input::placeholder, /* o pq de "::" pseudo elementos*/
#contato form textarea::placeholder{
    color: #b9b9b9;
}

footer{
    height: 290px;

    background-color: var(--roxo-gamifica);
}

footer .container-grid{
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais{
    height: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.redes-sociais p{
    color: white;

    font-family: "Anta";
    font-size: 24px;
}

.icones-redes{
    width: 240px;

    display: flex;
    justify-content: space-between;
}

.icones-redes a{
    color: white;
}

.icones-redes a:hover{
    color: var(--laranja-gamifica);
}

